<div class='row'>
  <%= simple_form_for @profile do |f| %>
    <div class='col s12 m6'
      <h6>Profile Pic</h6>
      <%= f.file_field :pic%>
      <%= f.input :name %>
      <%= f.input :bio %>
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
