<%= provide(:active, "container") %>
<%= provide(:banner, 'profiles/banner') %>
  <h4><%= @profile.name %>'s Photos</h4>
  <% if @profile.id == current_user.id %>
    <%= simple_form_for @profile do |f| %>
      <%= f.file_field :photos, multiple: true %>
      <br>
      <%= f.submit 'Save', class: "waves-effect waves-light btn"  %>
    <% end %>
  <% end %>
  <div class='row'>
    <% @profile.photos.each do |photo| %>
      <div class="col s12 m6 l4 center" style="height:300px;">
        <%= image_tag photo.variant(resize: "300x300!"), :class => 'responsive-img' %>
      </div>
  <% end %>
  </div>
