<%= provide(:active, "container") %>
<%= provide(:banner, 'profiles/banner') %>
  <div class='row'>
    <div class="col s12 m6 bio-box "> <!-- style class to be clear:left -->
      <h4 class='black-text'>A little about me...</h4>
      <p class="black-text"><%= @profile.bio %></p>
    </div>
    <div class="col s12 m6 bio-box ">
      <h4>Interest Stuff</h4>
      <%= link_to "#{@profile.name}'s Interests", profile_interests_path(@profile) %>
    </div>
    <div class="col s12 m6 bio-box superduperleft">
      <h4>Mailbox</h4>
      <%= link_to "Inbox", profile_messages_path(@profile) %>
    </div>
    <div class="col s12 m6 bio-box">
      <h4>Matches</h4>
      <% @likes.each do |key, value| %>
        <div class='row'>
          <div class="col s2">
            <%= image_tag value.avatar_small, :class => 'circle' %>
          </div>
          <div class="col s10 valign-wrapper">
            <p><%= value.name %> </p><p>Click to like back</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class='photos'>
      <h4><%= @profile.name %>'s Photos</h4>
      <%= link_to "#{@profile.name}'s Photos", profile_photos_path(@profile) %>
    </div>
    <%= link_to "Edit", edit_profile_path(@profile) %>
  <div class="carousel-container">
    <div class='carousel'>
      <% @profile.photos.each do |photo| %>
        <div class="carousel-item">
            <%= image_tag photo, :class => 'materialboxed' %>
        </div>
      <% end %>
    </div>
  </div>
  </div>
