<div id='profile-banner' class='nav-wrapper blue'>
  <div class=' profile-pic container'>
    <% if @profile.pic.attached? %>
    <div style="width:150px; height:auto">
      <%= image_tag @profile.avatar, :class => 'circle' %>
    </div>
    <% end %>
  </div>
</div>
<div class='container'>
  <div class='bio-box'>
    <h4 class='black-text'>A little about me...</h4>
    <p class="black-text"><%= @profile.bio %></p>
  </div>
  <div class='photos'>
    <h4><%= @profile.name %>'s Photos</h4>
    <%= link_to "#{@profile.name}'s Photos", profile_photos_path(@profile) %>
  </div>
  <%= link_to "Edit", edit_profile_path(@profile) %>

</div>
