<%= provide(:active, "container") %>
<%= provide(:banner, 'profiles/banner') %>

<h4>Interests</h4>
<p>
  I have <%= @profile.interests.count %> interests
</p>
<% @profile.interests.each do |interest| %>
  <%= interest.interest %>
<% end %>

<% if @profile.user_id == current_user.profile.id %>
  <h4>Add Interests</h4>
  <div>
    <%= form_for @profile, url: {action: "update_interests"}, :method => :POST do |f| %>
      <% @interests.each do |i| %>
        <% if @profile.interests.include?(Interest.find(i.id)) %>
          <p>
            <label>
              <input type="checkbox" checked="checked" value="<%= i.id %>" name="interests[]" />
              <span><%= i.interest %></span>
            </label>
          </p>
        <% else %>
          <p>
            <label>
              <input type="checkbox" value="<%= i.id %>" name="interests[]" />
              <span><%= i.interest %></span>
            </label>
          </p>
        <% end %>
      <% end %>
      <br>
      <%= f.submit %>
    <% end %>
  </div>
<% end %>
<%= link_to "Back", profile_path(@profile) %>
