<nav>
  <div class="nav-wrapper blue">
      <div class="container">
      <%= link_to "Root Path", root_path, :class => "brand-logo" %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <span>Logged in as <%= current_user.profile.name %></span>
          <% if current_user.profile == nil %>
            <li><%= link_to "Create my Profile", new_profile_path %></li>
          <% else %>
            <li><%= link_to "My Messages", profile_messages_path(current_user.profile, :id => current_user.id) %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, :method => :DELETE %></li>
          <% end %>
        <% else %>
          <li><%= button_to 'Log In', modal_login_path,  { :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %></li>
<!--          <li><%#= link_to "Log In", new_user_session_path %></li>  class: 'btn btn-primary btn-lg' -->
      <% end %>
      </ul>
    </div>
  </div>
</nav>

<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
