<!DOCTYPE html>
<html>
  <head>
    <title>Assessment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <header>
      <%= render 'layouts/navbar' %>
    </header>
    <main>
      <% if !yield(:banner).empty? %>
        <%= render "#{yield(:banner)}" %>
      <% end %>
      <p class="notice"><%= notice %></p>
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <footer class="page-footer black">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
